@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html{
    font-family: Josefin sans, sans-serif; 
}

body{
    background-color: indianred;
}

header{
    background-color: antiquewhite;
    padding: 30px;
}

h1{
    display: inline-block;
}

header img,
header h1{
    vertical-align: middle;
}

#toboolistall{
    width: 80%;
    margin: 0 auto;
}

#toboolist-top,
#toboolist-bottom{
    background-color: blueviolet;
}

#toboolist-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin-bottom: 2px;
}

#toboolist-bottom{  
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

#toboolist-top .btn-blue{
    color: blue
    background-color: chocolate;
}


#toboolist-top button{
    border: 1px solid 
    padding: 5px
    border-radius: 5px;
}